# Environment
.fitnessoverlays-venv/
/.venv/
/venv/
.env

# Python
/__pycache__/
*.py[cod]

# Logs
/logs/
*.log
npm-debug.log*
*_logs/

# Editor/IDE specific
/.cursor/
/vscode/
.vscode/
/.idea/

# Node.js / Build artifacts
/node_modules/
/static/css/tailwind.css